// Define variables for your color scheme

// For example:
$red: #A7232D;
$blue: #3960BB;
$yellow: #EDB72B;
$orange: #E67E22;
$green: #3B9889;
$gray: #818BA3;
$light-gray: #C5C5CD;
$light-purple: #B4AFD4;
$med-purple: #48378c;
$purple: #684BDF;
$dark-purple: #3E2D85;
