// Specific CSS for your home-page
#hero-wpr {
  background: $purple url(image-path('hero-bg.gif')) center fixed;
  .btn {
    font-family: $headers-font;
    padding-right: 50px;
    padding-left: 50px;
  }
}
#hero-box {
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.console-link {
  display: block;
  margin-bottom: 30px;
  .console-img {
    max-height: 10vw;
    margin: 0 auto;
  }
  h3 {
    font-size: 18px;
    color: $dark-purple;
  }
}
