// Specific CSS for your home-page
#hero-wpr {
  background: url(../assets/hero-bg.gif);
  h1, h2 {
    color: #fff;
  }
}
#hero-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
