.create-listing-wpr{
  h1 {
    font-weight: bold;
    color: $dark-purple;
    margin: 50px 0;
  }

  label {
    font-weight: lighter;
    color: $med-purple;
  }

  .upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .btn-success {
    padding: 8px 50px;
    margin: 30px;
    font-family: $body-font;
  }


  .col-xs-12 {
    margin: 20px;
  }

  .game_photo ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
  }
}

