.games-container {

  #profile_picture{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
    object-fit: cover;
  }
   h3 {
     color: $dark-purple;
     margin: 0;
     font-weight: bold;
   }
   p {
     font-size: 15px;
     margin-bottom: 0px;
   }
    .hundred {
      width: 100px;
      padding: 0px;
      margin-right: 30px;
      margin: 2px;
    }

   .user-upload-photo {
    height: 60px;
    width: 60px;
    margin: 10px;
    border-radius: 50%;
   }

   .game-name {
    font-size: 27px;
   }

   .console-image {
   height: 12px;
   margin: 0px 8px 1px 1px;
   }
   .game-console {
    margin-bottom: 0px;
   }

   .game-block {
    display: flex;
    padding: 15px;
    align-items: center;
    border-bottom: solid 1px rgba(210, 210, 210, 0.3);
    margin: 10px 0;
    background-color: rgba(129, 138, 163, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
   }

  .rent-block {
    display: flex;
    padding: 15px;
    align-items: center;
    border-bottom: solid 1px rgba(210, 210, 210, 0.3);
    margin: 10px 0;
    background-color: rgba(129, 138, 163, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  .rented-info {
    margin-left: 10px;

   }

  .game-info {
    margin-left: 10px;
    flex-grow: 1;
   }
   hr {
    margin-top: 55px;
    margin-bottom: 40px;
   }

   .extra-padding {
    padding: 6px 12px;
   }
 }
