.signin-wrapper {
  background: $purple url(image-path('hero-bg.gif')) center fixed;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    text-align: center;
  }
  label {
    font-weight: lighter;
    margin-bottom: 0px;
  }
  .help-block {
    font-weight: lighter;
    font-size: 12px;
  }
}
