body {
  background-color: white;
}

.signin-wrapper {
  background: url(../assets/hero-bg.gif);
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    text-align: center;
  }
}


