// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

.input-size-large {
  width: 400px;
}
.font-weight-extra-bold {
  font-weight: 800;
}
.font-weight-light {
  font-weight: 300;
}
.font-body {
  font-family: 'Source Sans Pro', sans-serif;
}
