// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

.input-size-large {
  width: 400px;
}
.font-weight-extra-bold {
  font-weight: 800;
}
.font-weight-light {
  font-weight: 300;
}
.font-body {
  font-family: 'Source Sans Pro', sans-serif;
}
.font-body-size {
  font-size: 18px;
}

// * {
//   margin: 0;
// }
// html, body {
//   height: 100%;
// }

// .page-wrap {
//   min-height: 100%;
//   /* equal to footer height */
//   margin-bottom: -70px;
// }
// .page-wrap:after {
//   content: "";
//   display: block;
// }
