// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

.content-wrap {
  min-height: calc(100vh - 70px);
}
.wrapper {
  padding: 3em 0 2em 0;
}
body .container {
  color: #777678;
}
.input-size-large {
  width: 400px;
}

.caption-margin-top {
  margin-top: 1.5em;
}
.caption-margin-btm {
  margin-bottom: 1.5em;
}
.section-margin-top {
  margin-top: 3em;
}
.section-margin-btm {
  margin-bottom: 3em;
}
.header-wpr {
  margin-top: 3.5em;
  margin-bottom: 3.5em;
}
.header-text {
  font-weight: 800;
  text-transform: lowercase;
  margin: 0;
  padding: 0;
}
  .header-main {
    color: $dark-purple;
  }
  .header-alt1 {
    color: #fff;
  }
  .header-alt2 {
    color: $light-gray;
  }
.caption-text {
  font-size: 20px;
  font-weight: 300;
  font-family: $body-font;
  text-transform: lowercase;
  margin: 0;
  padding: 0;
}
.subheading-text {
  font-weight: 300;
  font-family: $body-font;
  text-transform: lowercase;
  margin: 0;
  padding: 0;
}

.font-weight-extra-bold {
  font-weight: 800;
}
.font-weight-light {
  font-weight: 300;
}
.font-body {
  font-family: $body-font;
}
.font-body-size {
  font-size: 18px;
}
.font-header {
  font-family: $headers-font;
}
.no-whitespace {
  margin: 0;
  padding: 0;
}
.white-font {
  color: white;
}
hr {
  border-color: $light-purple;
}
a:hover {
  text-decoration: none;
  transition: .2s ease-in-out;
}
