<div class="profile-container">
  <h1>profile</h1>
  <div id="user-container">

  </div>
  <div class="listing-container">
    <div class="row">
      <div class="col xs-12 col-sm-12">

      </div>
    </div>
  </div>
</div>


<!--

<h2><%= @user.username %></h2>
<p><%= @user.email %></p>
<% if !@games.blank? %>
  <h3>Their game list:</h3>
  <ul>
    <% for game in @games %>
      <li><%= link_to "#{game.name}", game_path(game) %></li>
    <% end %>
  </ul>
<% else %>
  <p>User has no games!</p>
<% end %>
 -->
