<h1>Rent this game!!</h1>
<%= simple_form_for([@game, @rental]) do |f| %>
  <%# f.input :price %>
  <%= f.input :start_date, as: :date, input_html: { min: Date.today }%>
  <%= f.input :end_date, as: :date, input_html: { min: Date.today+1.days }%>
  <%= f.submit %>
<% end %>

<%# TODO: make End date a set interval, %>
<%# TODO: make price calculated based on length of rental %>
